BasedOnStyle: Microsoft

Language: C
IndentWidth: 4
BreakBeforeBraces: Allman
IndentExternC: false

# Optional: Set this to true to align pointers/references to the left (near the type)
# For example: int* myPtr;
PointerAlignment: Left