[submodule "Firmware/ThirdParty/stm32-mw-usb-device"]
	path = Firmware/ThirdParty/stm32-mw-usb-device
	url = https://github.com/STMicroelectronics/stm32-mw-usb-device.git
[submodule "Firmware/ThirdParty/stm32f0xx-hal-driver"]
	path = Firmware/ThirdParty/stm32f0xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f0xx-hal-driver.git
[submodule "Firmware/ThirdParty/cmsis-device-f0"]
	path = Firmware/ThirdParty/cmsis-device-f0
	url = https://github.com/STMicroelectronics/cmsis-device-f0.git
[submodule "Firmware/ThirdParty/cmsis-core"]
	path = Firmware/ThirdParty/cmsis-core
	url = https://github.com/STMicroelectronics/cmsis-core.git
