[submodule "Firmware/ThirdParty/tinyusb"]
	path = Firmware/ThirdParty/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "Firmware/ThirdParty/STM32CubeF0"]
	path = Firmware/ThirdParty/STM32CubeF0
	url = https://github.com/STMicroelectronics/STM32CubeF0
[submodule "GUI/ThirdParty/hidapi"]
	path = GUI/ThirdParty/hidapi
	url = https://github.com/libusb/hidapi.git
